*{
  margin: 0px 0px 0px;
}
html{
  background: #E5E5E5;
}
/*font and color declarations*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  font-weight: 400;
}

p{
  font-family: 'Karla', sans-serif;
  font-size: 3.5vh;
  color: #000000;
  text-justify: inter-word;
  line-height: 40px;
} 

/*sizing*/
h1{
  font-size: 6.5vh;
}
h2{
  font-size: 5vh;
}
h3{
  font-size: 4vh;
}
/*links*/
a {
  background-color: #9270FF;
  box-shadow: 0 5px 0 #6534ff;
  color: white;
  padding: .05em .1em;
  position: relative;
  text-decoration: none;
  margin-top: 2vh;
}

a:hover {
background-color: #31AAFE;
}

a:active {
box-shadow: none;
top: 5px;
}

/*header*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;

  left: 0px;
  top: 0px;

  height: auto;
  
}

header .title{
  padding: 9.7vh 9vh 9.7vh;

  height: auto;
  max-width: 930px;

  flex-grow: 1;

  background: #6534ff;
}

header .title hr{
  border-top: 1px solid #FCCDD3;
}
header .title #header{
  margin-bottom: 2.5vh;
}
header .title #name{
  margin-top: 2.5vh;
}
header .where{
  padding: 9.7vh 5.85vh 9.7vh;
  height: auto;
  width: auto;
  flex-grow: 1;
  background: #62bcfa;
}
header .where #collab{
  padding-bottom: 5vh;
}
header .where h2{
  font-family: 'Karla', sans-serif;
  color: white;;
}
.toc{
  padding-left: 5vh;
  padding-right: 5vh;
}
/* sections config*/
.right-sub{
  padding: 5vh 0vh 5vh;

}
.right-sub h2{
  position: absolute;
  right: 0px;
  padding: 2vh 7vh 2vh;

  background: #6534ff;
  margin-bottom: 3vh;
}
.left-sub{
  padding: 5vh 0vh 5vh;
  right: 0px;
}
.left-sub h2{
  position: absolute;
  left: 0px;
  padding: 2vh 7vh 2vh;

  background: #6534ff;
}
.items{
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.items img{
  margin-top: 8vh;
  margin-left: 2vh;
  margin-right: 2vh;
  width: auto;
  height: 440px;
  
}
.items img[alt="prototype"]{
  border: 20px solid #FFADB8;
}
.items p{
  margin-top: 4vh;
  width: 950px;
  height: auto;

  padding: 5vh;
}
.items .tool{
  overflow: hidden;
  position: relative;
}
.items .tool .overlay{
  margin-top: 8vh;
  width: 100%;
  height: 100%;
  position: absolute;
 
  height:0;
  transition: .5s ease;
  background: #6534ff;
  
  opacity: 0;
}
.items .tool .overlay h1{
  text-align: center;
}
.items .tool .overlay p{
  padding: 0vh;
  align-items: center;
  text-align: center;
  font-size:3vh;
  width: inherit;
  color:#ffffff;
}
.items .tool:hover .overlay{
  bottom: 0;
  height: 100%;
  opacity: 1;
}